<ion-content>

  <br> <br> <br>

  <ion-list>
    <div id="select">Selecciona</div>

    <br> <br> <br> <br> <br>

    <ion-item>
      <ion-label> Estado </ion-label>
      <ion-select placeholder="Selecciona" (ionChange)="checkEstado($event)">
        <ion-select-option *ngFor="let munic of municipio" [value]="munic.idMunic">{{munic.nombre_mun}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <br> <br>

    <div *ngIf="ocultar3">
      <ion-item>
        <ion-label> Ciudad </ion-label>
        <ion-select placeholder="Selecciona" (ionChange)="checkValue($event)">
          <ion-select-option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">{{ciudad.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <br> <br>

    <div *ngIf="ocultar1">
      <ion-item>
        <ion-label> Sucursales </ion-label>
        <ion-select placeholder="Selecciona" (ionChange)="Sucursales($event)">
          <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.idSucursal">{{sucursal.nombre_suc}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <br> <br> <br> <br> <br>

    <div *ngIf="ocultar2">
      <ion-button (click)="goToEstablecimiento()" color="dark" id="botonE">Entrar</ion-button>
    </div>

  </ion-list>

</ion-content>