#select {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#botonE {
    width: 80%;
    font-weight: bold;
    left: 0;
    right: 0;
    //margin-top: 30%;
    margin-left: 10%;    
}