#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#titulo {
    font-size: x-large;
    color: #676767;
    text-transform: uppercase;
}

#logo {
    color: #3b5998;
    height: 50px;
}

#logoG {
    color: #c22222;
    height: 50px;
}

#icono {
    height: 50px;
}

#boton {
    width: 80%;
    font-weight: bold;
    left: 0;
    right: 0;
    margin-top: 30%;
    margin-left: 10%;    
    font-family: sans-serif;
}

#frase {
    font-family: sans-serif;
}

#botonE {
    width: 80%;
    font-weight: bold;
    left: 0;
    right: 0;
    //margin-top: 30%;
    margin-left: 10%;    
}

#inicio {
    font-size: x-large;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

ion-slide {
    height: calc(100vh - 140px);
}

#iconos {
    background-color: #192938;
    font-size: 40px;
    color: #fff;
}

.cointer_inicio{
    --ion-background-color:#192938;
    background-color:#192938;
}