<!-- <ion-header style="background-color: #192938;">
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="atras()" id="iconos">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="cointer_inicio">
  
  <ion-buttons start style="background-color: #192938;">
    <button ion-button icon-only (click)="atras()" id="iconos">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </button>
  </ion-buttons>

  <br><br>

  <p id="inicio"> REGISTRO</p>

    <ion-list>

      <br> <br> <br>

      <ion-item>
        <ion-label position="floating" id="frase" style="color: #fff;font-size:larger;">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre" name="nombre" style="color: #fff;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" id="frase" style="color: #fff;font-size:larger;">Correo electrónico</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email" style="color: #fff;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" id="frase" style="color: #fff;font-size:larger;">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" style="color: #fff;"></ion-input>
      </ion-item>
      <br> <br> <br> <br> <br>
      <ion-button expand="block" padding color="dark" id="frase" (click)="OnCreateLogin()">Registrar</ion-button>
    </ion-list>



</ion-content>