<ion-content class="cointer_inicio">

  <div id="container">

    <img src="./assets/icon/new_disigner.jpeg" alt="">

    <!-- <p style="font-size: xx-large;color: #676767;font-family: sans-serif;"><b style="font-weight: bold;">No Wait</b> QR</p> -->

    <br> 
        
    <div *ngIf="botonesA.estatus == 1">
      <ion-button id="boton" (click)="singWithGoogle()" color="light">
        <ion-icon name="logo-google" id="logoG"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;
        Regístrate con Google
      </ion-button>
  
      <br> <br>
  
      <ion-button id="boton" (click)="signInWithFacebook()" color="light">
        <ion-icon name="logo-facebook" id="logo"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;
        Regístrate con Facebook
      </ion-button>
  
      <br> <br>
    </div>

    <ion-button id="botonc" (click)="signWithCorreo()" color="dark">
      Regístrate con tu correo electrónico
    </ion-button>

    <br> <br> <br>

    <p style="margin-left: 3%;text-align: center;font-family: sans-serif;"> 
      ¿Ya te has registrado?
      <a style="color: rgb(92, 177, 216);" (click)="register()">
       Inicia Sesión 
      </a> en tu cuenta
    </p>

    <br> <br>
  </div>
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
</ion-content>