<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="atras()" id="icono">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="cointer_inicio">
  
  <ion-buttons start style="background-color: #192938;">
    <button ion-button icon-only (click)="atras()" id="iconos">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </button>
  </ion-buttons>
  
  <br> <br> <br> <br>

  <p id="inicio"> Inicio de Sesión con Correo</p>

  <br> <br> 

  <ion-item>
    <ion-label position="floating" style="color: #fff;font-size:larger;">Correo electrónico</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email" style="color: #fff;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" style="color: #fff;font-size:larger;">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password" style="color: #fff;"></ion-input>
  </ion-item>

  <br> <br> <br> <br> <br>

    <ion-button expand="block" padding color="dark" (click)="OnSubmitLogin()">Entrar</ion-button>

    <!-- <ion-button expand="block" padding color="dark" (click)="view()">QR</ion-button> -->

</ion-content>
