#entrar {
    background: #b3b3b3;
    color: white;
    font-size: x-large;
}

#icono {
    background: white;
    font-size: 30px;
}

#boton {
    width: 80%;
    font-weight: bold;
    left: 0;
    right: 0;
    //margin-top: 30%;
    margin-left: 10%;    
}

#inicio {
    font-size: x-large;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#iconos {
    background-color: #192938;
    font-size: 40px;
    color: #fff;
}

.cointer_inicio{
    --ion-background-color:#192938;
    background-color:#192938;
}
