<ion-content padding>
  
  <div id="container">
    <img src="./assets/icon/new_disigner_small.jpg" width="50%" style="margin-left: 25%;" alt="">
  <br>
  </div>

  <!-- <div id="nombrePro"><b id="frase">No Wait</b> QR</div> -->

  <ion-card id="cuadro">
    <ion-card-header>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card id="cuadroTwo">
    <ion-card-header>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card id="cuadroThree">
    <ion-card-header>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card id="cuadroFour">
    <ion-card-header>
      <div *ngFor="let tienda of tiendaSec">
        <p id="nombre">{{tienda.nombre_tienda}}</p>
      </div>
      <div *ngFor="let suc of sucursalSec">
        <p id="nombre_ti">{{suc.nombre_suc}}</p>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div *ngFor="let turno of turnoSel">
        <div *ngIf="turno.estatus == 'pendiente'">
          <p id="turno">Tu Lugar es el:</p>
          <p id="numTurno">000{{numTurno}}</p>
          <br>
          <p id="personas">Personas antes de ti:</p>
          <p id="numper">{{total - 1}}</p>
          <p id="personas">Tiempo estimado:</p>
          <p id="numpers">{{(total - 1) * 5}} min</p>
        </div>
        <div *ngIf="turno.estatus == 'activado'">
          <br>
          <p id="bienvenido">Bienvenido</p>
          <br>
          <p id="disfruta">Disfruta tu estancia</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <div *ngFor="let turno of turnoSel">
    <div *ngIf="turno.estatus == 'pendiente'">
      <ion-button id="botonc" (click)="refreshPage()" color="dark">
        Actualizar Lista
      </ion-button>
    </div>
  </div> -->

  <div id="imgfo">
    <p id="texto">Escanea otra tienda, banco o servicios para iniciar tu fila</p>
    <img src="./assets/icon/ejemplo.png" (click)="goToEstablecimiento()" alt="">
  </div>

</ion-content>