#cuadro{
    background-color: black;
    height: 350px;
    width: 300px;
    border-radius: 25px;
    margin-left: 5%;
    position: fixed;
}

#cuadroTwo{
    background-color: #797979;
    height: 350px;
    width: 300px;
    border-radius: 25px;
    margin-top: 17%;
    margin-left: 10%;
    position: fixed;
}

#cuadroThree {
    background-color: #484646;
    height: 350px;
    width: 300px;
    border-radius: 25px;
    margin-top: 27%;
    margin-left: 15%;
    position: fixed;
}

#cuadroFour {
    background-color: #b3b3b3;
    height: 350px;
    width: 300px;
    border-radius: 25px;
    margin-top: 37%;
    margin-left: 10%;
    position: fixed;
}

#nombre {
    font-weight: bold;
    font-size: x-large;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

#nombre_ti {
    text-align: center;
    margin-top: -15px;
}

#botonc {
    width: 80%;
    font-size: 71%;
    font-weight: bold;
    margin-left: 10%;
}

#turno{
    font-size: x-large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#numTurno{
    font-size: xx-large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#personas{
    font-size: medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#numper{
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

#numpers{
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

#imgfo {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    /* top: 50%; */
    transform: translateY(550%);
    position: fixed;
  }

#texto{
    text-align: center;
    font-size: large;
    color: #777777;
    position: fixed;
    margin-top: -35px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#botonc{
    width: 80%;
    font-size: 71%;
    font-weight: bold;
    margin-left: 10%;
    position: fixed;
    margin-top: 135%;
}

#botonb{
    width: 80%;
    font-size: 71%;
    font-weight: bold;
    margin-left: 10%;
    position: fixed;
    margin-top: 145%;
}

#bienvenido{
    font-size: xx-large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#disfruta{
    font-size: x-large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#nombrePro {
    font-size: xx-large;
    color: #676767;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
  
#frase {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}