<ion-content>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="arrow-back-circle-outline" id="icono" (click)="goToBack()"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <img src="./assets/icon/new_disigner_small.jpg" width="70%" style="margin-left: 20%;" alt="">
          <!-- <div id="nombrePro"><b id="frase">No Wait</b> QR</div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-card *ngFor="let turno of turnoList">
    <div *ngFor="let tienda of tiendaList">
      <div *ngIf="turno.idTienda == tienda.idTienda">
        <ion-card-content style="margin-top: auto;">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-thumbnail item-start>
                  <img src="../../assets/icon/icono.PNG">
                </ion-thumbnail>
              </ion-col>
             <ion-col size="7">
                <h1>{{tienda.nombre_tienda}}</h1>
              </ion-col>
               <ion-col size="2">
                <ion-buttons end>
                  <button ion-button icon-only (click)="goToDetalle(tienda.idTienda, turno.idFila)" id="icono">
                    <ion-icon name="scan-circle-outline"></ion-icon>
                  </button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </div>
    </div>
  </ion-card>
</ion-content>