#icono {
    background: #192938;
    color: white;
    font-size: 30px;
}

#nombrePro {
    font-size: xx-large;
    color: #676767;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
  
#frase {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    left: 0;
    right: 0;
    --ion-background-color:#192938;
    background-color: #192938;
  }