<ion-content padding>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="arrow-back-circle-outline" id="icono" (click)="goToBack()"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <img src="./assets/icon/new_disigner_small.jpg" width="70%" style="margin-left: 20%;" alt="">
          <!-- <div id="nombrePro"><b id="frase">No Wait</b> QR</div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-card id="cuadro">
    <ion-card-header>
    </ion-card-header>
  
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card id="cuadroTwo">
    <ion-card-header>
    </ion-card-header>
  
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card id="cuadroThree">
    <ion-card-header>
    </ion-card-header>
  
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card id="cuadroFour">
    <ion-card-header>
      <div *ngFor="let tienda of tiendaSec">
        <p id="nombre">{{tienda.nombre_tienda}}</p>
      </div>
      <div *ngFor="let suc of sucursalSec">
        <p id="nombre_ti">{{suc.nombre_suc}}</p>
      </div>
    </ion-card-header>

    <br>

    <ion-card-content>
      <p id="turno">Personas esperando su turno:</p>
      <p id="numTurno">000{{numTurno}}</p>
    </ion-card-content>
  </ion-card>

  <br> <br>

  <ion-button id="botonc" (click)="goToFila(numTurno)" color="dark">
    Obtener Turno
  </ion-button>

  <!-- <br>

  <ion-button id="botonb" (click)="goToBack()" color="dark">
    Atrás
  </ion-button> -->

</ion-content>

