#cuadro{
    background-color: black;
    height: 350px;
    width: 300px;
    border-radius: 25px;
    margin-left: 5%;
    position: fixed;
}

#cuadroTwo{
    background-color: #797979;
    height: 350px;
    width: 300px;
    border-radius: 25px;
    margin-top: 17%;
    margin-left: 10%;
    position: fixed;
}

#cuadroThree {
    background-color: #484646;
    height: 350px;
    width: 300px;
    border-radius: 25px;
    margin-top: 27%;
    margin-left: 15%;
    position: fixed;
}

#cuadroFour {
    background-color: #b3b3b3;
    height: 350px;
    width: 300px;
    border-radius: 25px;
    margin-top: 37%;
    margin-left: 10%;
    position: fixed;
}

#nombre {
    font-weight: bold;
    font-size: x-large;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#nombre_ti {
    text-align: center;
    margin-top: -15px;
    font-family: Arial, Helvetica, sans-serif;
}

#botonc {
    width: 80%;
    font-size: 71%;
    font-weight: bold;
    margin-left: 10%;
    position: fixed;
    margin-top: 130%;
    font-family: Arial, Helvetica, sans-serif;
}

#turno{
    font-size: large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#numTurno{
    font-size: xxx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#botonb{
    width: 80%;
    font-size: 71%;
    font-weight: bold;
    margin-left: 10%;
    position: fixed;
    margin-top: 135%;
}

#nombrePro {
    font-size: xx-large;
    color: #676767;
    font-family: sans-serif;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
#frase {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#icono {
    color: white;
    font-size: 40px;
    background-color: #192938;
    margin-top: 18px;
}

#container {
    left: 0;
    right: 0;
    --ion-background-color:#192938;
    background-color: #192938;
  }