#icono {
    background: white;
    color: black;
    font-size: 30px;
}

#titulo{
    font-size: larger;
    text-align: center;
    color: #484646;
    font-weight: bold;
}

#imgfo {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    /* top: 50%; */
    transform: translateY(-100%);
  }

  #nombrePro {
    font-size: xx-large;
    color: #676767;
    font-family: sans-serif;
  }
  
  #frase {
    font-weight: bold;
  }

  #nowait {
    font-size: xx-large;
    color: #676767;
    font-family: sans-serif;
    text-align: center;
  }

  #qr {
    font-weight: bold;
  }


.footer-ios ion-toolbar:first-of-type {
    --border-width: 0px 0 0;
}

#container {
  left: 0;
  right: 0;
  --ion-background-color:#192938;
  background-color: #192938;
}

#iconoCol{
  font-size: xxx-large;
  color: #fff;
  position: relative !important;
  left: 18% !important;
  margin-top: 3%;
}