<ion-content>

  <div id="container">

    <ion-grid>
      <ion-row>
        <ion-col id="centrarCaja">
          <img src="./assets/icon/new_disigner_small.jpg" width="80%" style="margin-left: 30%;" alt="">
        </ion-col>
        <ion-col size="4" id="iconoCol">
          <!-- <ion-icon name="power" (click)="goToExit()"></ion-icon> -->
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ion-card *ngFor="let tienda of tiendas">
    <ion-card-content style="margin-top: auto;">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-thumbnail item-start>
              <img src="../../assets/icon/icono.PNG">
            </ion-thumbnail>
          </ion-col>
          <ion-col size="7">
            <h1>{{tienda.nombre_tienda}}</h1>
          </ion-col>
          <ion-col size="2">
            <ion-buttons end>
              <!-- <button ion-button icon-only (click)="goToList(tienda.idTienda)" id="icono">
                <ion-icon name="scan-circle-outline"></ion-icon>
              </button> -->
              <button ion-button icon-only (click)="view(tienda.idTienda)" id="icono">
                <ion-icon name="scan-circle-outline"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col> 
        </ion-row>
      </ion-grid>
      <!-- <button ion-button clear item-end (click)="goToList(tienda.idTienda)">
        <ion-icon name="scan-circle-outline" item-end></ion-icon>
      </button> -->
      <!-- <button ion-button clear item-end (click)="view()">View</button> -->
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar id="imgfo">
    <p>Lugares Pendientes</p>
    <img src="./assets/icon/ejemplo.png" style="width: 80px;" (click)="goToEstablecimiento()" alt="">
  </ion-toolbar>
</ion-footer>
