<ion-content>

  <div id="container">
    <img src="./assets/icon/logo2.png" alt="">

    <br>

    <ion-button expand="block" (click)="loginGoogle()" color="light">
      <ion-icon name="logo-google"></ion-icon>
      Regístrate con Google
    </ion-button>

    <br> <br> <br>

    <ion-button id="boton" (click)="signInWithFacebook()" color="light">
      <ion-icon name="logo-facebook" id="logo"></ion-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;
      Regístrate con Facebook
    </ion-button>

    <ion-button expand="block" (click)="ciudad()" color="dark">
      <ion-icon name="logo-google"></ion-icon>
      ciudad
    </ion-button>

    <!-- <br>

    <ion-button expand="block" color="dark">
      <ion-icon name="logo-google"></ion-icon>
      Regístrate con tu correo electrónico
    </ion-button> -->

    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>